<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Buzuby.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C0B2F2C1CE09BDF008C6A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C0B2F451CE09BE0008C6A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C0B2F501CE09BE0008C6A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
